header{
    background-color: #EBEBEB;
    width: 100%;
}

main{
    background-color: #EBEBEB;
}

h1,h2{
    font-family: 'Hatton';
}

h2#h2Main{
    font-size: 450%;
}

a{
    color: #322203 !important;
    font-family: 'TT Commons Pro Expanded';
}

label{
    color: white;
    font-family: 'TT Commons Pro Expanded';
}

input::placeholder{
    color: white;
}

input{
    color: white;
}

input{
    border: 0px;
    background-color: transparent;
}

#imgMain{
    width: 700px;
    height: 692px;
    padding-left: 5%;
    padding-top: 5%;
}

.divReversa{
    width: 33%;
}

#imageReversa{
    margin-top: 4%;
}

#textImagen{
    position: relative;
    width: 150%;
    top: 90px;
    font-size: 500%;
    font-family: 'Hatton';
    color: #322203;
}

#indexMain{
    background-image: url("../images/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 575px) {

    #onlyMobile{
        display: block !important;
    }

    #onlyDescktop{
        display: none !important;
    }

    h2#h2Main{
        font-size: x-large;
        margin-left: 2%;
    }
    #listaBienvenido{
        margin-top: 10%;
    }

    #listaBienvenido > li > a{
        font-size: medium;
    }

    #imgMain{
        width: 500px;
        height: 492px;
        padding-left: 5%;
        padding-top: 5%;
    }

    #usuaria{
        font-size: medium;
    }

    #familia{
        font-size: medium;
    }

    #textImagen{
        font-size: large;
    }

    #textImagen{
        top: 20px;
    }
    
    iframe{
        width: 150px;
    }

    header{
        position: fixed;
    }

}